<script src="js/chat.js"></script>
<script src="js/msgopt.js"></script>

<div id='layout' >
    <div class='col-md-2 full-height'>
        <div class='full-height full-width'>
            
            <div id='user-title' class='title'>
                            <%-user.nickname %>

                <div class="dropdown pull-right">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"  style='background:transparent;border:transparent'>
                  <span class="caret"  style='color:white;'></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">退出</a></li>
                </ul>
            </div>
            </div>

            <div id='user-list' class='scrollable' >
            </div>
        </div>
    </div>   

    <div class='col-md-6 full-height'>
        <div class='full-height full-width'>
            <div id='to-nickname' class='title'>

            </div>
            <div id='peer-box' class='scrollable' style='overflow:auto'>
                <p><button id="loadMore">加载更多聊天记录</button></p>
                <script>
                    $('#loadMore').click(function (a) {
                        var peerId = $('.user-item-selected').attr('data-peer-id');
                        var ulist = $(this).parent().parent();
                        var timestamp = $('#'+peerId+' li:first').data('timestamp');

                        console.log(peerId);
                        
                        loadChatHis(myPeerId,peerId,30,timestamp);


                    });
                </script>
            </div>

            <div class='footer form'>
                <div class="pure-form" style='position:relative;'>
                    <input id="msg" class='chat-reply'></input>
                    <span class='chat-reply-btn'>
                        <button class='btn btn-secondary'  id="sendbtn">回复</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id='order-panel' class='col-md-4 full-height'>
        <div class='full-height full-width'>
            <div class='title'>              
                订单
            </div>
            <div id='order' class='scrollable' >
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div id="test" class='center'>
    <div class="form-inline">
        <div class="form-group">
            <label for="">
                新建聊天
            </label>
            <input type="text " id="watchingPeer" class="form-control" >
        </div>
        <span id="connect-status" class="text-primary">
            not connected
        </span>
        <div class="btn-group">
            <button id="addwatch" class="btn btn-default">
                watch
            </button>
        </div>
    </div>
</div>

</div>
<!-- Template -->

<div class="hide">
    <div id="user-tpl">
      <div id='user-{=peerId}' class='offline user-item pure-g' data-peer-id='{=peerId}'>
        <div class="item">
          <a href="#" class='switch-btn' id="peer-{=peerId}" onclick="addWatch('{=peerId}');switchChatTo('{=peerId}');">
              <img class="img-circle avatar"  height="40" width="40" src='img/user1.png'  onclick="addWatch('{=peerId}');switchChatTo('{=peerId}');">
              <span class='name'>{=nickname}</span>
          </a>
          <i class='badge'></i>
          <a class='removewatch' href='#' data-peer-id='{=peerId}' onclick='removeWatch(this)'><i class='fa fa-remove'></i></a>
      </div>
  </div>
</div>

<div id="msg-tpl">
    <ul id='{=peerId}' style='overflow-y:scroll' class='hide'>                     
    </ul>   
</div>

<script type="text/template" id="order-list-tpl">
    <div class='pure-form pure-form-aligned'>
        <ul id="order-list">
        </ul>
    </div>
</script>

<script type="text/template" id="order-item-tpl">
    <div class='pure-control-group pure-u-1'>
        <div class='pure-u-1-2' style='text-align:left'>
            <b>订单号: {=flowNo}</b>
            <p> 服务时间: {=moment(serviceTime.iso).format('YYYY-MM-DD hh:mm') }</p>
        </div>
        <div class='pure-u-1-4' style='text-align:left'>
            <b>状态：{=status}</b>
            <p>金额：{=total_price}</p>
            { if (status != 'cancel') }
            <button class="pull-right order-destroy" style='font-size:12px;' data-order-id='{=objectId}'><b class='fa fa-remove'></b></button>
            { if (status == 'incomplete' || status == 'unconfirmed') }
            <button class="pull-right order-edit" style='font-size:12px; margin-top:30px;' data-order-id='{=objectId}'><b class='fa fa-edit'></b></button>
        </div>
    </div>
</script>

<script  type='text/template' id="text-tpl">
    <li class='msg msg-text {=klass}' data-peer-id='{=peerId}' data-timestamp='{=timestamp}'>
        <img src="{=avatar}" class='img-responsive avatar'></img>
        <div class='msg-content'>
            <div class="time">{=moment(timestamp).format('YYYY-MM-DD HH:mm:ss')}</div>
            <span class='msg-body'>
                <span>{=content}</span>
            </span>
            <div class='arrow' > </div>
        </div>
    </li>
</script>

<script type='text/template' id="image-tpl">
    <li class='msg msg-image {=klass}' data-peer-id='{=peerId}' data-timestamp='{=timestamp}'>
        <img src="{=avatar}" class='img-responsive avatar'></img>
        <div class='msg-content'>
        <div class='msg-body'>
            <div class="time">{=moment(timestamp).format('YYYY-MM-DD HH:mm:ss')}</div>
                <img class='img-responsive image' src="{=content}" alt="{=peerId}">
            </div>
            <div class='arrow'></div>
        </div>
    </li>
</script>

<script  type='text/template' id="voice-tpl">
    <li id= "{=peerId}-{=timestamp}"class='msg msg-voice {=klass}' data-peer-id='{=peerId}' data-timestamp='{=timestamp}'>
       <div class="time">{=moment(timestamp).format('YYYY-MM-DD HH:mm:ss')}</div>
       <img src="{=avatar}" class='img-responsive avatar'></img>
   </li>

</script>

    <div id='user-info-tpl'>
        <div class="pure-control-group">
            <p>{=nickname}</p>
            <p>{=mobile}</p>
        </div>
    </div>

    <div id='user-form-tpl'>
        <form id='user-form'>
            <div class="pure-control-group">
                <label>手机号</label>
                <input name='mobile' type="text">
            </div>
        </form>
        <button class='btn btn-save'> 保存</button>
    </div>

    <div id='car-info-tpl'>
        <div class="pure-control-group">
            <p>车型：{=make} {=series}</p>
            <p>配置: {=model} {=volume}升 {=year}年款</p>
        </div>
    </div>

    <div id="car-option-tpl">
        <option value='{=objectId}'>{=make} {=series} {=model} {=volume}升</option>
    </div>

    <div id="car-tpl">
        <div class="pure-form pure-form-aligned zform">
            <!-- cars -->
            <b class='banner pure-u-1'>车辆信息</b>
                <select id="car-ids" class='selectpicker'>
                    <option value=''>新增车辆…</option>
                </select> 
            <div id='car-info'>
            </div>
        </div>
    </div>

    <div id="car-form-tpl">
        <form id='car-form'>
            <div class="pure-control-group">
                <label>厂商</label>
                <input name='make' type="text">
                <label>车系</label>
                <input name='series' type="text">
                <label>型号</label>
                <input name='model' type="text">
                <label>排量</label>
                <input name='volume' type="text">
                <label>牌照</label>
                <input name='plate' type="text">
                <label>年份</label>
                <input name='year' type="number" min='1800'>
            </div>
        </form>
        <button id='save-car' class='btn btn-save btn-secondary'> 保存</button>
        <button id="cancel-car" class='btn btn-cancel btn-third'>取消</button>
    </div>
    <!-- END OF Car -->

    <div id="addr-tpl">
        <div class="pure-form pure-form-aligned zform">
            <div class='banner pure-u-1'>地址信息</div>
                <select id='addr-ids'>
                    <option value=''>新增地址...</option>
                </select>
            <div id='addr-info'>
            </div>
        </div>
    </div>

    <div id='addr-info-tpl'>
        <div class="pure-control-group">
            <p>详细：{=detail}</p>
            <p>姓名：{=contact}</p>
            <p>手机号：{=mobile}</p>
        </div>
    </div>

    <div id="addr-option-tpl">
        <option value='{=objectId}'>{=name} {=detail}</option>
    </div>

    <div id="addr-form-tpl">
        <form id='addr-form' class='yfade'>
            <div class="pure-control-group">
                <label>地址</label>
                <input name='detail' type="text">
                <label>联系人</label>
                <input name='contact' type="text">
                <label>手机</label>
                <input name='mobile' type="text">
                <label>固定电话（选填）</label>
                <input name='tel' type="text">
            </div>
        </form>
        <button class='btn btn-save btn-secondary'> 保存</button>
        <button class='btn btn-cancel btn-third'>取消</button>
    </div>
    <!-- END OF Address -->

    <div id="item-tpl">
        <div class="pure-form pure-form-aligned zform">
            <div class='banner pure-u-1'>
                服务内容
                <div class='actions'>
                    <button class='btn btn-add pull-right'> 新增</button>
                </div>
            </div>
            <form id='item-form'>
                <div id='item-info'>
                </div>
            </form>
        </div>
    </div>

    <div id="item-info-tpl">
        <div class='pure-control-group' id='item-{=id}'>
            <label>名称</label>
            <input type='text' name='name' value='{=name}'>
            <label>金额</label>
            <input type='number' name='price' value='{=price}'>
            <button class='btn btn-remove' data-item-id='item-{=id}'>x</button>
        </div>
    </div>

    <div id="other-tpl">
        <div id='other-info' class="pure-form pure-form-aligned zform">
            <div class='banner pure-u-1'>其他信息</div>
            <div class="pure-control-group">
                <label>服务时间</label>
                <input type='text' name='serviceTime' value='{=name}' class='datetimepicker' data-date-format="YYYY-MM-DD hh:mm">
            </div>
            <div class="pure-control-group">
                <label>销售员</label>
                <select id='salesman-ids'>
                    <option></option>
                </select>
            </div>
            <div class="pure-control-group">
                <label>服务商</label>
                <select id='store-ids'>
                    <option></option>
                </select>
            </div>
            <button class='btn btn-save btn-important'><i class='fa fa-save' style='color:white; font-weight:bold; font-size:18px;padding-left:5px;padding-right:5px;'></i>确认下单</button>
        </div>
    </div>
    <!-- end -->

    <div id="pkg-tpl">
        <div class="pure-form pure-form-aligned zform">
            <!-- cars -->
            <b class='banner pure-u-1'>套餐信息</b>
            <select id="pkg-ids" class='selectpicker'>
            </select> 
        </div>
    </div>

    <div id="pkg-option-tpl">
        <option value='{=objectId}'>{=type} {=title} {=price}元</option>
    </div>


</div>
</div>
</div>
<script>
    var customer = null;
    function playFB(){
        var fbAudio = document.createElement('audio');
        fbAudio.setAttribute('src', '/audio/facebook.mp3');
        fbAudio.play();
    }

    var appid = "za9bsa07s9lwzxl6t1sp9ft3fi5ypo0d47ylo1f5bnze0m34";
    AV.$ = jQuery;
    AV.initialize( "za9bsa07s9lwzxl6t1sp9ft3fi5ypo0d47ylo1f5bnze0m34",
        "0efztvcng6f5klnksu9syv4o55py3z9pypppjzxuzuwwqmtb");
    var peerId = '<%-user.username%>';
    var myPeerId = '<%-user.peerId%>';
    var myNickname = '<%-user.nickname%>';
    var myAvatarUrl = '<%-user.avatarUrl%>';
    localStorage[myPeerId+'-avatar'] = myAvatarUrl;
    var watching = [];
    var toPeerId;


        // var watchingPeer = $('#watchingPeer').val().split(',');
        var chat;
        // ---------------- 基本初始化 打开关闭 ----------------
        $(function() {
           


            if($('#watchingPeer').val()!=""){
                watching = $('#watchingPeer').val().split(',');
            }
            chat = new AVChatClient({
                appId: appid,
                peerId: myPeerId
            });
            chat.on('close', function() {
                alert('connection closed');
                $('#connect-status').text('not connected');
                $('.online').removeClass('online').addClass('offline');
                setTimeout(openSocket, 5000);
            });
            // --------------- chat 相关监听 ---------------
            chat.on('message', function(data) {
                playFB();
                var un_read = _.uniq(JSON.parse(localStorage["unReadMsg"]));
                var msg_id = data.fromPeerId +"-" +data.timestamp;
                un_read.push(msg_id);
                localStorage["unReadMsg"] = JSON.stringify(un_read);
        
                if ($('#user-'+data.fromPeerId).length > 0){
                    if ($('to-nickname').text() == ''){
                        $('to-nickname').text(localStorage[data.fromPeerId+'-nickname']);
                    }
                    appendRecvMsg(data); 
                }else{
                    addWatch(data.fromPeerId).then(function(){
                        if ($('to-nickname').text() == ''){
                        $('to-nickname').text(localStorage[data.fromPeerId+'-nickname']);
                    }
                    appendRecvMsg(data); 
                });
                }
                

                
                
            });
            chat.on('online', function(peers) {
                for (var i = 0; i < peers.length; i++) {
                    console.log(peers[i]+ ' online');
                    $('#user-' + peers[i]).removeClass('offline');
                    $('#user-' + peers[i]).addClass('online');
                    $('#to-nickname').html( $('#to-nickname').html().replace(' (离线)', ''));
                }
            });
            chat.on('offline', function(peers) {
                for (var i = 0; i < peers.length; i++) {
                    console.log(peers[i]+ ' offline');
                    $('#user-' + peers[i]).removeClass('online');
                    $('#user-' + peers[i]).addClass('offline');

                    if (peers[i] == toPeerId){
                        $('#to-nickname').html( $('#to-nickname').text().replace(/ \(离线\)/, ''));
                        $('#to-nickname').html( $('#to-nickname').text()+' (离线)');
                    }
                }
            });
            openSocket();
        });
        // --------------- 基础 ---------------
        function openSocket(){
            $('#user-list').empty();
            addWatchingPeer($('#watchingPeer').val().split(','));
            chat.open().then(function() {
                $('#connect-status').text('connected');
                if(localStorage.getItem(myPeerId) === null){
                   localStorage[myPeerId] = JSON.stringify(watching);
               }else{
                var watchPromises = _.map(JSON.parse(localStorage[myPeerId]), addWatch);
                var chatHisPromises = _.map(JSON.parse(localStorage[myPeerId]), addChatHis);
                AV.Promise.when(watchPromises).then(function(){
                    AV.Promise.when(chatHisPromises).then(function(){
                        console.log('init complete');
                        var p = null;
                        if (localStorage[myPeerId+'-selected']){
                            p = switchChatTo(localStorage[myPeerId+'-selected']);
                        }else if ($('#user-list .user-item').length > 0) {
                            p = switchChatTo($('#user-list .user-item:first').data('peer-id'));
                        }

                        p.then(function(){
                           
                           $('#user-list .user-item').each(function(){
                                var peerId = $(this).data('peer-id');
                                var count = localStorage[peerId+'-unread'];
                                $('.badge', this).html(count);
                           });

                           var items = $('#user-list .user-item');
                           items.sort(function(a,b){
                            var countA = $('.badge', a).html();
                            var peerA = $(a).data('peer-id');
                            var peerB = $(b).data('peer-id');
                            var countB = $('.badge', b).html();
                            if (countA != '' || countB != ''){
                                return countA > countB;
                            }else{
                                return peerA < peerB;
                            }
                        });
                           items.each(function(){
                            $(this).detach();
                            $(this).prependTo('#user-list');
                           });

                           var selected = $('#user-list .user-item-selected');
                           selected.detach();
                           selected.prependTo('#user-list');

                           checkStatus(JSON.parse(localStorage[myPeerId]));

                     });
                    });
                });
                // _.each(JSON.parse(localStorage[myPeerId]), function(v) {
                //     console.log(v);
                //     addWatch(v);
                //     console.log("myPeerId"+myPeerId);
                //     console.log('otherPeerId'+v);
                //     addChatHis(v);
                // });
            }
        }, function(err) {
            alert('open failure');
            console.log(err)
        });
        }
        
        function closeSocket() {
            chat.close().then(function() {
                $('#connect-status').text('not connected');
                $('.online').removeClass('online').addClass('offline');
            });
        }
        //---------------- 1 v 1 聊天相关 ----------------
        function addWatch(peerId){
            if (!_.contains(watching, peerId)){
                console.log(peerId);
                list  = JSON.parse(localStorage[myPeerId]);
                nlist=list.concat(peerId.split(','));
                nlist = _.uniq(nlist);
                watching.push(peerId);
                localStorage[myPeerId] = JSON.stringify(nlist);

                chat.watch(peerId.split(',')).then(function() {
                }, function() {
                    alert('watch failure')
                });
                return addWatchingPeer(peerId.split(','));
            }
        }
        function removeWatch(target){
            var opeerId = $(target).data('peer-id');
            peerId = [opeerId];
            list  = JSON.parse(localStorage[myPeerId]);
            nlist = _.without(list,opeerId+"");
            localStorage[myPeerId] = JSON.stringify(nlist);
            console.log(nlist);
            removeWatchingPeer(peerId);
            chat.unwatch(peerId);
            watching = _.without(watching,peerId+"");
            console.log(watching);
            $('#user-'+peerId).remove();
            $('#'+peerId).remove();
            $('#to-nickname').empty();
            if ($('#user-list .user-item-selected').length <= 0){
                var peerId = $('#user-list .user-item:first').data('peer-id');
                toPeerId = peerId;
                $('#to-nickname').text(localStorage[toPeerId+'-nickname']);
                $('.user-item-selected').removeClass('user-item-selected');
                $('#user-'+peerId).addClass('user-item-selected');
            }
        }
        $('#addwatch').click(       
            function() {
                var name = $('#watchingPeer').val();
                AV.Cloud.run("findUserByName", {username: name}, {
                    success: function(data){
                        addWatch(data.peerId);
                    },
                    error:function(){
                        addWatch(name);
                    }
                });

                // addWatch($('#watchingPeer').val());
            });

        function scrollToEnd(peerId){
            var chatBox = $('#'+peerId);
            console.log(chatBox.prop('scrollHeight'));
            $('#peer-box').scrollTop(chatBox.prop('scrollHeight'));
        }
        function switchChatTo(peerId){
            toPeerId = peerId;
            var userQuery = new AV.Query(User);
            userQuery.equalTo('peerId', peerId);
            console.log('customer peerId = '+peerId);
            return userQuery.first().then(function(user){
                customer = user;
                if ($('#user-'+peerId).hasClass('offline')){
                    $('#to-nickname').text(localStorage[toPeerId+'-nickname']+' (离线)');
                }else{
                    $('#to-nickname').text(localStorage[toPeerId+'-nickname']);
                }

                // select user @ sidebar
                $('.user-item-selected').removeClass('user-item-selected');
                $('#user-'+peerId).addClass('user-item-selected');
                $('#user-'+peerId+' .badge').empty();
                // 显示对话框
                if (peerId && peerId != ''){
                    $('#peer-box > ul').each(function(){
                        $(this).addClass('hide');
                    })
                    $('#'+peerId).removeClass('hide');
                }

                localStorage[myPeerId+'-selected'] = peerId;
                localStorage.removeItem(peerId+'-unread');

                orderRouter.list();
        });
        }

        function checkStatus(peers){
            console.log("CHECK STATUS");
            console.log(peers);
            chat.getStatus(peers).then(function(onlinePeers){
                console.log("STATUS");
                console.log(onlinePeers.onlineSessionPeerIds);
                for (var i in onlinePeers.onlineSessionPeerIds){
                    var peerId = onlinePeers.onlineSessionPeerIds[i];
                    $('#user-'+peerId).removeClass('offline').addClass('online');
                }
            });
        }

        function addWatchingPeer(peers) {
            for (var i = 0; i < peers.length; i++) {
                if (!peers[i]) {
                    return;
                }
                localStorage[peers[i]+'-nickname'] = peers[i];
                var chatBox_div = _.template($('#msg-tpl').html())(data={peerId:peers[i]});
                $('#peer-box').append(chatBox_div);
                return AV.Cloud.run("findUserByPeerId", {peerId: peers[i]}, {
                    success: function(data){
                        console.log('ADDING WATCHING PEER');
                        console.log(data);
                        if (typeof data.nickname == 'undefined'){
                            data = {
                                peerId: data.peerId,
                                nickname: data.peerId
                            } 
                        }
                        var sidebar_li = _.template($('#user-tpl').html())(data);
                        $('#user-list').append(sidebar_li);

                        
                        if(typeof data != 'undefined'){
                            console.log('data ===== '+data);

                            $('#user-' + data.peerId +'> div > a > img').attr("src",data.avatarUrl); 

                            localStorage[data.peerId+'-avatar'] = data.avatarUrl;
                            localStorage[data.peerId+'-nickname'] = data.nickname;
                        }
                        return AV.Promise();
                    },
                    error: function(err){
                        console.log('oops, there is something wrong.');
                    }
                });
                
                
            }
        }
        function removeWatchingPeer(peers) {
            peers = [].concat(peers);
            for (var i = 0; i < peers.length; i++) {
                if (!peers[i]) {
                    return;
                }
                $('#peer-' + peers[i]).parent().parent().remove();
                $('#slide-' + peers[i]).remove();
                $('#'+peers[i]).remove();
            }
        }

        
        function sendReply(){
            origin_msg = $('#msg').val();
            if (origin_msg.trim()=='')
                return ;
            send_msg = {
                "Content": origin_msg,
                "InfoType":"TEXT"
            }
            //产看peer是否在线 
            //如果不在线就是发送离线消息，推送
            //get status then
            //如果 在线不需要操作
            console.log(JSON.stringify(send_msg));
            chat.send(  JSON.stringify(send_msg), toPeerId, false).then(function(data) {
                appendSendMsg(toPeerId, origin_msg,moment().utc().valueOf());
                $('#msg').val('');

                chat.getStatus(toPeerId).then(function(data) {
                    console.log( "online is "+data.onlineSessionPeerIds.length);
                    if (data.onlineSessionPeerIds.length == 0) {
                        console.log("are you there"+toPeerId);
                        var query = new AV.Query("_Installation");
                        query.equalTo("peerID",toPeerId);
                        
                        AV.Push.send({
                          where: query,
                          data: {
                            alert: "您有一条新消息",
                            badge: "Increment"
                         }
                     });
                    }
                });

            }, function(err) {
                console.log(err)
                alert("send failure!!!")
            });
        }
        $('#sendbtn').click(sendReply);
        $('#msg').keypress(function(e){
               var key = e.which; //e.which是按键的值
               if (key == 13) {
                sendReply();
            }
        });
    </script>

